[Desktop Entry]
Type=Application
Name=Power
Name[zh_CN]=电源
Comment=Manage power and sleep in Meo Settings
Comment[zh_CN]=在 Meo 设置中管理电源和睡眠
Exec=meo-settings --route power
Icon=battery
Categories=Settings;Qt;KDE;
StartupNotify=true
NoDisplay=true
