[Desktop Entry]
Type=Application
Name=Meo Settings
Name[zh_CN]=Meo 设置
Comment=Configure your MeoArch system
Comment[zh_CN]=配置你的 MeoArch 系统
Exec=meo-settings %u
Icon=org.meo.settings
Categories=Settings;Qt;KDE;
MimeType=x-scheme-handler/meosettings;
Keywords=settings;system;wifi;network;bluetooth;sound;display;power;updates;recovery;
Keywords[zh_CN]=设置;系统;Wi-Fi;网络;蓝牙;声音;显示器;电源;更新;恢复;
StartupNotify=true
